<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<div >
  First name: <br>
  <input type="text" name="fname" placeholder="First name">
  <br> <br> Last name: 
  <br> <input type="text" name="lname"> <br>
  <br> <input type="radio" name="gender" value="male" checked> Male
  <input type="radio" name="gender" value="female"> Female
  <br><br>Age:
  <br><input type="text" name="age" >


<img src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/5/9/3/4/2724395-1-eng-GB/Lower-meat-consumption-will-help-water-scarcity-issues-say-researchers_wrbm_large.jpg">
</div>